@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.homepage-container {
  position: fixed;
  background-color: #fbe1aa;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex; /* Enables the use of flexbox properties */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  color: #122726;
font-family: "Poppins", sans-serif;
}

.homepage-title-container {
  display: flex; /* Enables the use of flexbox properties */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 100%; /* Take up all available space */
  width: 100%; /* Take up all available space */
  text-align: center; /* Center text inside this container */
}

.homepage-title{
  background-color:#f8fbf4;
  width: 75%;
  margin-top: 5%;
  border-radius: 10px;
  padding:10px 30px;
  text-align: center;
}