/* Homepage Container */
.homepage-container {
  position: relative;
  background-color: #fbe1aa;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #122726;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
}

/* Homepage Title Container */
.homepage-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* Homepage Intro */
.homepage-intro {
  background-color: #f8fbf4;
  padding: 10px; /* Reduced padding */
  border-radius: 15px;
  margin: 10px; /* Added margin */
}

/* Create Review Form Container */
.createreviewform-container {
  width: 90%; /* Reduced width for better mobile usability */
  margin-bottom: 5%;
  margin-top: 5%;
}

/* Create Review Form Title */
.createreviewform-title {
  background-color: #f8fbf4;
  font-size: small; /* Reduced font size */
  padding: 10px; /* Reduced padding */
  border-radius: 16px;
  box-shadow: #122726;
  text-align: center;
}

/* Show Create Review Button */
.showcreatereview-btn {
  display: block;
  margin: 0 auto;
  margin-top: 3%; /* Reduced margin */
  margin-bottom: 3%; /* Reduced margin */
  background-color: #fab172;
  color: #122726;
  border: none;
  border-radius: 15px; /* Reduced border radius */
  padding: 10px 20px; /* Reduced padding */
  font-size: 1rem; /* Reduced font size */
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover Effect for Show Create Review Button */
.showcreatereview-btn:hover {
  background-color: #f77d47;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  /* Homepage Intro */
  .homepage-intro {
    font-size: xx-small;
    text-align: center;
   
  }

  /* Create Review Form Title */
  .createreviewform-title {
    font-size: x-small; /* Further reduced font size for smaller screens */
  }
}
