@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #f77d47;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.menu-links {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
  align-items: center;
  height: 100%;
  width: 100%; /* Occupy half of the navbar width */
}

.menu__link {
  color: #55946c;
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-weight: 800;
}

.menu__link--active {
  border-bottom-color: #dd3711; /* Color for active link */
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle-icon {
  width: 60px;
  height: 60px;
  font-size: 100px;
  transition: transform 0.3s ease;
}

.menu-toggle-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem; 
  margin-top: -40%;
}

.menu.open .menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.menu.open .menu-toggle .bar {
  background-color: #132725;
}

.menu__link {
  position: relative; /* Ensure SVG effects align with links */
}

.menu__link svg {
  fill: none;
  stroke: #dd350f;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 1; /* Adjusted z-index to bring it above other elements */
}

.menu__link:hover svg {
  stroke-dashoffset: 0;
}

.pfpgif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 10px; 
  z-index: 1001; 
  background-color: #f77d47;
  border-radius: 50%;
  border: 5px solid transparent;
  height: 200px; /* Adjusted height */
  width: 200px; /* Adjusted width */
}

.pfpgif-img {
  max-height: 200px; /* Adjusted max height */
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #dd350f;
}

@media (max-width: 768px) {
  .menu {
    padding: 10px;
    height: auto;
    flex-direction: column;
    background-color:#56906c86; /* Add transparency to the menu */
    backdrop-filter: blur(10px); /* Add blur effect to the background */
    
  }

 .menu-links {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
    
  }

  .menu.open .menu-links {
    display: flex;
    
  }

  .menu__link {
    font-size: 1rem; /* Decreased font size */
    padding: 10px; /* Adjusted padding */
    transition: color 0.3s ease;
    color: #dd3711; /* Color for font in the dropdown menu */
    border-bottom: 2px solid transparent; /* Add transparent border initially */
  }

  .menu__link:hover {
    color: #dd3711; /* Hover effect */
  }

  .menu__link--active {
    border-bottom-color: #dd3711;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }

  .menu-toggle-container {
    margin-right: 20px; /* Adjusted margin */
  }

  .bar {
    width: 100%;
    height: 60px;
    background-color: #dd3711; /* Color for hamburger menu icon */
    transition: background-color 0.3s ease;
  }

  .pfpgif-container {
    height: 70px;
    width: 70px;
  }

  .pfpgif-img {
    max-height: 70px;
  }
}
