.reviews-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #fbe0a8;
  width: 100vw;
  padding-top: 40px;
  margin-top: 40px;
}

/* Review Item */
.review-item {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 2%;
  transition: transform 0.3s ease, margin-top 0.3s ease;
  overflow: hidden;
  text-align: center;
  transform: rotate(-2deg);
}

/* Review Item Before */
.review-item:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  border-left: 2px solid #aab696;
}

/* Review Item After */
.review-item:after {
  content: '';
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dd350f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* Review Item Hover */
.review-item:hover {
  transform: translateY(-10px) rotate(0deg);
  margin-top: -10px;
}
.review-rating {
  display: flex;
  align-items: center; /* Center thumbs-up icon vertically */
  justify-content: center; /* Center thumbs-up icon horizontally */
  font-size: large; /* Adjust font size if necessary */
  margin-top: 10px; /* Add margin for spacing */
}
/* Media Query for Small Screens */
@media (max-width: 768px) {
  /* Reviews Container for Small Screens */
  .reviews-container {
    justify-content: flex-start;
    margin-top: 1%;
    margin-bottom: 5%;
  }
  
  /* Review Item for Small Screens */
  .review-item {
    width: calc(100% - 40px);
    padding: 1%;
  }
}

.review-rating {
    display: flex; /* To display stars inline */
    align-items: center;
    font-size: large; /* Larger font for visibility */
}
