.bookshelf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../assets/catshelf.gif");
  background-color: #fbe1aa;
  background-size: contain; /* This will make sure the entire image is shown */
  background-position: center center; /* Center the background image */
  background-repeat: no-repeat;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Takes the full width of the parent */
  height: 60vh; /* Adjust height as needed to prevent cropping */
  max-width: 1000px; /* Max width can remain, but might not be necessary */
  position: relative; /* If you're positioning children absolutely */
  gap: 5px;
  
}


.book {
  width: 100px;
  height: 150px;
  background-color: #fab172;
  margin-top: 30%; /* Adjusted to move the books down */
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  cursor: pointer;
  transition: transform 0.3s;
  color: #132725;
  background-color: #55946c;
  border-radius: 10px;
  border: 2px solid #132725; /* 2px solid border with the specified color */
}

.book:hover {
  transform: scale(1.1); /* Slightly enlarge book on hover */
  box-shadow: 0 0 10px #55946c; /* Soft green shadow for depth */
}

.book-details {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: #f6faf0; /* Light background for details, easy on the eyes */
  color: #132725; /* Dark green for detailed text */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Subtle shadow for a pop-up effect */
  z-index: 10;
}

